/*******Custom Part********/
div.caution {
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #DA0404;
    background-color: #F9ADAD;
}
div.caution p.admonition-title {
    color: #A40101;
}
div.note {
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #127D00;
    background-color: #DEFFD9;
}
div.note p.admonition-title {
    color: #058C1A;
}

.setting .descname
{
    border-radius: 0.5em;
    padding: 2px 5px;
    background-color: lightgray;
}

.settinggroup > dt > .descname
{
    border: 1px solid;
    border-bottom: none;
    padding: 3px;
}

.settingbutton .descname
{
    border: 1px solid;    
    padding: 2px 5px;
    background-color: lightgray;
}
